body{

  background-color: #E1FFEE;
}
h1{
  color: #7FBCD2;
}
h2{
  color: #FF4A4A;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
